body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#react-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.small-af {
  width: 80px;
  display: inline-block;
  margin-right: 10px;
}
