body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  //background: @background;
  background: url('../assets/images/flamingo.jpg');
  font-family: @font-sans;
  font-size: 16px;
}

p, h1, h2, h3 { font-family: @font-sans; }

p { font-size: 100%; }
h1 { font-size: 230%; }
h2 { font-size: 180%; }
h3 { font-size: 140%; }

#react-root {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 80px;
}

.box {
  border-radius: 3px;
  background: @white;
  border-top: 3px solid #d2d6de;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &.color-green { border-top-color: @green; }
  &.color-red { border-top-color: @red; }
  &.color-yellow { border-top-color: @yellow; }
  &.color-aqua { border-top-color: @aqua; }
}

.box-header {
  display: block;
  color: #444;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;

  .box-title {
    display: inline-block;
    font-size: 120%;
    margin: 0;
    line-height: 1;
  }
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

table.table {
  tr { font-size: 87.5%; }
}

.box-body.log-table {
  max-height: 50vh;
  overflow-y: auto;
}

.box-body.status-table {
  span.user-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #CCC;
    position: relative;
    top: -1px;
    margin-right: 10px;

    &.present { background: #63c563; }
  }
}
